
.home-container .art-btn {
    background-image: url('../public/img/minicartel.jpg');
}

body {
    background-color: #eaeaf0 !important;
}


.home-container .software-btn {
    background-image: url('../public/img/software.jpg');
}



.home-container .name-box {
    z-index: 100;
    pointer-events: none;
}
.home-container .art-btn:hover,.home-container .software-btn:hover {
    filter: brightness(60%) ;
}

.home-container .art-btn,.home-container .software-btn {
    
    background-size: cover !important;
    background-position: center;
    
    transition: filter 0.3s ease;
    z-index: 50;
}

.home-container .top-container {
    min-height: 50vh;
    
    text-shadow: 2px 2px 4px #000000;
}

.advanced-truncate {
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .sombras-banner {
        background-image: url('../public/img/sombras2.jpg');
    }
}

@media (min-width: 768px) {
    .sombras-banner {
        background-image: url('../public/img/sombras.jpg');
        height: '40vh'; 
    }
}
.sombras-banner {
    max-width: 100%;
    min-width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 40vh;
    background-size: cover;
    background-position: center;
}